html {
    font-size: 10px;
    font-family: Helvetica, sans-serif;
}

body {
    background-image: url("game-340574_1280.jpg");
}

nav {
    background-color: #195438;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #babfbc;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: #babfbc solid 2px;
    margin: 30px;
    border-radius: 20px;
}

.gameCardsContainer {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 30px;


}

.gameCard {
    width: 200px;
    height: 200px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #195438;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #babfbc;
}
